@use "base/variables" as v;

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  transition: all 0.3s linear;
}

body {
  font-family: v.$fuente-montserrat;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.5rem;
}

p {
  font-size: 2rem;
}

img {
  width: 20rem;
}
