// Colours
$negro: #000000;
$blanco: #ffffff;
$gris-claro: #cdcdcd;
$azul-pastel: #256edc;
$amarillo-pastel: #fdfd96;

// Fonts
$fuente-raleway: 'Raleway', sans-serif;
$fuente-roboto:  'Roboto', sans-serif;
$fuente-montserrat: 'Montserrat', sans-serif;