@use "base/variables" as v;
@use "base/mixins" as m;

.catalogo {
  position: relative;
  width: 100%;
  padding: 5rem 0;
  text-align: center;

  h2 {
    color: v.$blanco;
    display: inline-block;
    width: 100%;
    padding: 1rem 2.8rem;
    font-size: 2.8rem;
    font-weight: 200;
    background-color: v.$negro;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;

    .producto {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      border-bottom: .1px solid v.$negro;
      border-right: .1px solid v.$negro;

      img {
        display: block;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
      }

      .contenido {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.4);

        p {
          font-size: 2rem;
          padding: 1rem;
        }
      }

      img,
      .contenido {
        transition: 200ms ease-in-out;
      }

      & > .contenido {
        opacity: 0;
      }

      &:hover > .contenido {
        opacity: 1;
      }

      &:hover .filtro {
        filter: blur(5px);
        // transform: scale(1.1);
      }
    }
  }
}
