@use "base/variables" as v;
@use "base/mixins" as m;

.contacto {
  position: relative;
  min-height: 100vh;
  max-width: 100%;
  padding: 5rem 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: top;
  overflow: hidden;
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);

  .contenido {
    text-align: center;

    .titulo {
      font-size: 3.5rem;
      margin-bottom: 3.5rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;

      @include m.telefono {
        margin-bottom:1.5rem
      }

      img{
        width: 8rem;
        height: 8rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}

.contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10rem;
  @include m.tablet {
    flex-direction: column;
  }

  .contacto-informacion {
    .box {
      position: relative;
      padding: 1.2rem 0;
      display: flex;
      align-items: center;

      .icono,
      .icono a {
        width: 5rem; //aplicar width y height cuando quiera hacer un icono redondo
        height: 5rem;
        color: v.$negro;
        background-color: v.$blanco;
        border: .5px solid v.$negro;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 2.5rem;
      }

      .texto {
        display: flex;
        margin-left: 2rem;
        flex-direction: column;
        text-align: left;

        h3 {
          font-weight: 500;
          font-size: 2.5rem;
          margin-bottom: 0.4rem;
        }

        p {
          font-weight: 300;
        }

        a {
          color: v.$negro;
          font-size: 2rem;
          font-weight: 300;
        }
      }
    }

    @include m.tablet {
      margin-bottom: 5rem;
    }
  }

  .formulario {
    padding: 2rem 3rem;
    background-color: v.$blanco;
    color: v.$negro;
    border: 0.3px solid v.$negro;

    h3 {
      font-size: 2.5rem;
      font-weight: 400;
    }

    .input {
      width: 100%;
      margin-top: 2rem;

      label {
        display: none;
      }

      input,
      textarea {
        width: 100%;
        padding: 0.7rem 0;
        font-size: 1.6rem;
        margin: 1rem 0;
        border: none;
        font-family: v.$fuente-montserrat;
        border-bottom: 1.5px solid v.$gris-claro;
        outline: none;
        resize: none;
      }

      .boton-contacto {
        background-color: v.$negro;
        text-transform: uppercase;
        font-weight: 500;
        color: v.$blanco;
        border: none;
        cursor: pointer;
        padding: 1rem 0;

        &:hover{
          transform: scale(1.05);
        }
      }

      .mensaje-enviado {
        background-color: v.$azul-pastel;
        text-transform: uppercase;
        font-weight: 500;
        color: v.$negro;
        padding: 1rem 0;
      }
    }
  }
}
