@use "base/variables" as v;

.footer {
  text-align: center;
  width: 100%;

  .texto {
    font-size: 1.5rem;
    padding: 0.8rem 2%;
    font-weight: 600;
    font-family: v.$fuente-raleway;
    color: v.$negro;
    line-height: 1.5;

    a{
      color: v.$negro;
    }
  }
}
