@use "base/variables" as v;
@use "base/mixins" as m;

.hero {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(/NitidoNewPage/src/images/backgrounds/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .sombra {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /*transparencia*/
    //Centro el contenido dentro de la imagen
    display: flex;
    align-items: center;
  }

  &-contenido {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(
      -50%,
      -50%
    ); //estudiar por qué esto centra el contenido
    text-align: center;

    h2 {
      text-transform: uppercase;
      font-size: 4.5rem;
      color: v.$blanco;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      line-height: 1.2;
      margin-bottom: 6rem;

      @include m.telefono {
        font-size: 3.5rem;
      }
    }

    a {
      display: inline-block;
      background-color: v.$negro;
      color: v.$blanco;
      padding: 1rem 5rem;
      font-size: 2rem;
      border-radius: 1rem;
      position: relative;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
